/* 구글 폰트 임베드*/
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Nanum+Gothic&family=Roboto:ital,wght@0,100..900;1,100..900&family=Silkscreen:wght@400;700&display=swap');

@import "reset.css";
@import "loding.css";



body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    gap:20px;
    justify-content: space-between;
    align-items: flex-start;
    background-color: gainsboro;
    padding:0;
    
}


button{
    padding:10px 30px;
    text-align: center;
    background-color: cornflowerblue;
    color:white;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
    transition: opacity linear .2s;
}


button:hover{
    opacity: 0.8;
}

input#text{
    all:unset;
    padding:10px 10px;
    text-align: center;
    background-color: white;
    font-weight: 500;
    font-size: 15px;
    border-radius: 10px;
}


input#fontSize, input#line-width{
    width: calc(30dvw - 2rem);
}

input#line-width{
    margin: auto;
}

input#file{
    all:unset;
    display: none;
}

.canvas{
    width: 85dvw;
    height: 95dvh;
    background-color: white;
    border-radius: 2rem;
    position: absolute;
    top:calc(1rem + 10px);
    left:90px;
    box-shadow: 0 6px 6px rgba(50, 50, 100, 0.15), 0 2px 3px rgba(50, 50, 100, 0.15);
}


.control_colors{
    padding:25px;
    display: flex;
    gap:10px;
    flex-direction: column;
    position: relative;
}

.control_colors .control_color{
    width: 40px;
    cursor: pointer;
    height: 40px;
    border-radius: 16px;
    box-shadow: 0 6px 6px rgba(50, 50, 100, 0.15), 0 2px 3px rgba(50, 50, 100, 0.15);
    transition:transform ease-in-out .3s;
}

.control_colors .control_color:hover{
   transform: scale(1.2);
}

.control_colors #allcolor{
    width: 43px;
    height: 40px;
    appearance: none;
    background:none;
    border:none;
    border-radius: 50%;
    box-shadow: 0 6px 6px rgba(50, 50, 100, 0.15), 0 2px 3px rgba(50, 50, 100, 0.15);
}

#allcolor::-webkit-color-swatch-wrapper {
	padding: 0;
    margin:0;
}

#allcolor::-webkit-color-swatch {
    border:none;
    border-radius: 50%;
}

.toggle_btns{
    position: fixed;
    right: -0.7dvw;
    bottom: 10dvh;
    padding: 1.3rem;
    border-radius:  2.3rem;
    background-color:cornflowerblue;
    z-index: 25;
}

.toggle_btns>img{
    width: 2rem;
    height: auto;
}

.btns>ul{
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 50;
    width: 30dvw;
    height: 100dvh;
    top:0;
    right:0;
    background-color: aliceblue;
}

.btns>ul>li{
    padding: 0.3rem 1rem;
}

.btns>ul>li:last-child{
    background-color: cornflowerblue;
}

.btns>ul>li>*{
    display: block;
    margin: 0 auto; 
}

.btns>ul>li:nth-child(){
    padding: 0.3rem 1rem;
}

#font_div{
    flex-grow: 3;
}

label{
    position: relative;
    padding: 1rem;
}

label img{
    position: absolute;
    right: 0;
    bottom: 0.2rem;
    width: 3rem;
    height: auto;
}
 
.save_ok_popup{
    position: fixed;
    width: 50dvw;
    height: 70dvh;
    top:50%;
    left: 50%;
    z-index: 500;
    transform: translate(-50%,-50%);
    background-color: aliceblue;
}

.save_ok_popup>img{
    width: 10dvw;
    height: auto;
    margin: 0 auto;
}

.save_popup_button{
    width: 300px;
    background-color: orange;
    color:white;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 0.5rem;
    border: none; 
}


.pop_opacity_bg{
    width: 100dvw;
    height: 100dvh;
    top:0;
    left:0;
    background-color: rgba(0,0,0,0.3);
    z-index: 10;
    position: fixed;
}


.hide{
    display: none;
}

.btnOn{
   right: 29.3vw;
}

.fade-Out {
  animation: fadeOut 0.3s ease-out forwards;
  animation-delay: 1.8s;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
